[submodule "buildroot"]
	path = buildroot
	url = https://github.com/fifteenhex/buildroot.git
[submodule "br2directfb2"]
	path = br2directfb2
	url = https://github.com/fifteenhex/br2directfb2.git
[submodule "br2qemu"]
	path = br2qemu
	url = https://github.com/fifteenhex/br2qemu.git
[submodule "br2games"]
	path = br2games
	url = https://github.com/fifteenhex/br2games.git
